/* modalStyles.css */

.modal-overlay {
    @apply fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center transition-opacity duration-300 ease-in-out z-50;
  }
  
  .modal {
    @apply bg-blue-100 text-black p-6 rounded-lg shadow-lg w-11/12 max-w-md transition-transform transform translate-y-4 opacity-0;
    animation: modalAppear 0.3s forwards; /* Add animation on open */
  }
  
  @keyframes modalAppear {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  